/* Set Css Styles for Header Section:- e.g:ScriBBler Title,Sub Title,Sign Up Button And Sign In Button */

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title{
    font-family: 'Montez', cursive; 
    color: blue;
    font-size: 30px;
    text-decoration: none;
    margin: 0;
}

.sub-title{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 10px;
    color: black;
    margin: 0;
}

.header-buttons{
  background-color: blue;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  width: 90px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 5px;
  padding-left:5px;
  font-size: 14px;
  margin: 10px 10px 0px 0px;
  border:0;
}

.footer-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:400;
  text-align: center;
}

.signup{
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  cursor: pointer;
}

 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
  color: black;
}

.modal-content{
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

.modal-title{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: x-large;
}

form{
  display: flex;
  flex-direction: column;
}

.label-text{
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    background:white;
    border: none;
    margin: 10px 0px; 
    width: 100%;
    height: 30px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn{
  background-color: limegreen;
  width: 100%;
  height:35px;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 14px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration:none;
}

