/* Set Css Styles for Home Page*/
body{
    background-image: url("../images/background.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.post-btn{
    background-color: yellow;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    height: 30px;
    width: 100px;
    border: 2px solid white;
    cursor: pointer;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px;
}